{
	"extends": "eslint:recommended",
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"rules": {
		"no-console": 0,
        "jsx/uses-factory": [1, {"pragma": "JSX"}],
        "jsx/factory-in-scope": [1, {"pragma": "JSX"}],
        "jsx/mark-used-vars": 1,
        "jsx/no-undef": 1
	},
    "plugins": ["jsx"]
}
