$primary-color: #3F51B5;
$primary-light: #C5CAE9;
$primary-dark: #303F9F;
$secondary-color: #FF4081;
$secondary-light: #FF80AB;
$theme-grey: #E0E0E0;
$theme-grey-light: #F5F5F5;
$theme-grey-lightest: #FAFAFA;
$green: #4CAF50;
